.buttonContainer{
    align-items: center;
}

.logo {
    border: none;
    cursor: pointer;
    appearance: none;
    transition: transform .7s ease-in-out;
    margin-left:10px;
    border-radius: 50%;
    background-color: inherit;    
}

button:hover{
    transform: rotate(360deg);
    }
img{
    padding: 0px;
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
}