<main class="main">
  <div class="content" >

    <form id="authorizationKey" >
      <label class="inputLabel" for="inputKeyBox">Enter your authorization key:</label>
      <br>
      <input type="text" class="inputKeyBox" #authKey (keyup.enter)="getKey(authKey.value)" placeholder="Key">
      <br>
      <app-logo-button (click)="getKey(authKey.value)"></app-logo-button>
      <br>
    </form>
    <form id="inputFile">
      <label class="inputLabel" for="dataFile" style="display: none;">Import:</label>
      <input type="file" name="myfile" >
      <br>
      
      <div class="container">
        <div class="button-wrap">
          <label class="button" for="upload">Import File</label>
          <input id="upload" type="file" name="testfile">
        </div>
      </div>
      
    </form>
      
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
